body{
    overflow-x: hidden;
}

/* width */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #70759d;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
   
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

  img{
      filter:brightness(110%)
  }